Repository sozonome/sznm.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier -w

chore: update to next 14 (#218)
  next.config.js
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
Due: eslint --fix --max-warnings=0, prettier -w

refactor(components): add flex wrap for note card tags
  src/lib/components/notes/NoteCard.tsx
Due: eslint --fix --max-warnings=0, prettier -w

docs(notes): add gitconfig setup notes
  content/notes/gitconfig-setup.md
  content/posts/monitor-and-measure-site-performance-with-speedlify.md
Due: none

feat: add serious path
  src/lib/constants/env.ts
  src/lib/constants/paths.ts
  src/middleware.ts
Due: eslint --fix --max-warnings=0, prettier -w

fix(middleware): adjust false startsWith checking
  commitlint.config.js
  src/middleware.ts
Due: eslint --fix --max-warnings=0, prettier -w

chore: update packages to latest
  package.json
  pnpm-lock.yaml
Due: none

refactor(content): adjust spacing and heading size
  content/notes/gitconfig-setup.md
  src/lib/components/blog/BlogPostCard.tsx
  src/lib/components/blog/post/Head.tsx
  src/lib/components/notes/detail/Head.tsx
  src/lib/pages/blog/post/index.tsx
  src/lib/pages/note/detail/index.tsx
Due: eslint --fix --max-warnings=0, prettier -w

chore: update react-markdown
  contentlayer.config.ts
  package.json
  pnpm-lock.yaml
  src/lib/components/blog/CodeBlock.tsx
  src/lib/components/blog/renderers.tsx
  src/lib/components/shared/MarkdownContent/index.tsx
Due: eslint --fix --max-warnings=0, prettier -w

chore: downgrade react-markdown and remark
  package.json
  pnpm-lock.yaml
  src/lib/components/blog/renderers.tsx
  src/lib/pages/til/index.tsx
Due: eslint --fix --max-warnings=0, prettier -w

docs(til): add ts function overloads
  content/til/ts-function-overloads.md
Due: none

chore: add eslint-plugin-not-relative-import-paths
  .eslintrc.js
  package.json
  pnpm-lock.yaml
Due: none

docs(projects): update wussh link
  content/projects/wussh.md
Due: none

chore: add cache purge workflow
  .github/workflows/cache-purge.yml
Due: none

fix(til): adjust content style
  src/lib/components/shared/MarkdownContent/styles.module.scss
Due: prettier -w

refactor: simplify middleware
  src/lib/constants/paths.ts
  src/middleware.ts
Due: eslint --fix --max-warnings=0, prettier -w

feat: add CTA in hero section
  src/lib/pages/home/HeroSection.tsx
Due: eslint --fix --max-warnings=0, prettier -w

docs(notes): add migrate to pnpm notes
  content/notes/migrate-to-pnpm.md
Due: none

chore: update manifest and favicon location
  package.json
  public/manifest.json
  src/app/favicon.ico
  src/app/layout.tsx
  src/app/manifest.ts
Due: eslint --fix --max-warnings=0, prettier -w

chore: add themeColor meta
  src/app/layout.tsx
Due: eslint --fix --max-warnings=0, prettier -w

chore: update manifest
  src/app/manifest.ts
Due: eslint --fix --max-warnings=0, prettier -w

chore: update manifest - remove default orientation
  src/app/manifest.ts
Due: eslint --fix --max-warnings=0, prettier -w

chore: add vercel SpeedInsights
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
Due: eslint --fix --max-warnings=0, prettier -w

refactor(layout): remove initial year
  src/lib/layout/Footer/index.tsx
Due: eslint --fix --max-warnings=0, prettier -w

chore: add strict null checks
  tsconfig.json
Due: none

fix(blog): re-install rehype-raw
  package.json
  pnpm-lock.yaml
  src/lib/components/shared/MarkdownContent/index.tsx
Due: eslint --fix --max-warnings=0, prettier -w

chore(release): 1.27.0
  CHANGELOG.md
  package.json
Due: none

docs(til): add React.isValidElement
  content/til/react-is-valid-element.md
Due: none

chore: update packages to latest
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: none

chore: update vitest
  package.json
  pnpm-lock.yaml
  vitest.config.ts
Due: none

refactor: adjust
  src/lib/utils/generateRss.ts
Due: eslint --fix --max-warnings=0, prettier -w

chore(release): 1.27.1
  CHANGELOG.md
  package.json
Due: none

chore: update packages to latest
  package.json
  pnpm-lock.yaml
  src/lib/components/shared/DetailViewCounts.tsx
Due: eslint --fix --max-warnings=0, prettier -w

chore: update renovate config - rangeStrategy
  renovate.json
Due: none

chore: adjust renovate
  renovate.json
Due: none

refactor: adjust fonts
  src/lib/styles/theme/fonts.ts
Due: eslint --fix --max-warnings=0, prettier -w

refactor(blog): adjust shown projects
  archive/content/projects/add-to-calendar-generator-nextjs.md
  archive/content/projects/advicegenerator-svelte.md
  archive/content/projects/big-talk.md
  archive/content/projects/whatsapp-link-helper.md
  content/projects/greet-gaas.md
  content/projects/muvees.md
  content/projects/xtarter.md
  src/lib/pages/about/Content.tsx
  src/lib/pages/home/HeroSection.tsx
  src/lib/pages/project/list/index.tsx
  src/lib/utils/projects.ts
Due: eslint --fix --max-warnings=0, prettier -w

refactor: adjust alignment and sizes
  src/lib/components/blog/post/Head.tsx
  src/lib/components/notes/detail/Head.tsx
  src/lib/pages/home/HeroSection.tsx
  src/lib/pages/home/ProjectsSection.tsx
  src/lib/pages/home/index.tsx
Due: eslint --fix --max-warnings=0, prettier -w

Path conditions:
  eslint --fix --max-warnings=0: any of: src/**/*.{js,jsx,ts,tsx}
  prettier -w: (any of: src/**/*.{js,jsx,ts,tsx}) or (any of: src/**/*.{json,css,scss,md})
