Repository sozonome/sznm.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier -w

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix --max-warnings=0",
    "prettier -w"
  ],
  "src/**/*.{json,css,scss,md}": [
    "prettier -w"
  ]
}

chore: revise sitemap gitignore rule
  .gitignore
Due: none

chore: update packages - major version
  package.json
  src/lib/components/blog/post/Head.tsx
  src/lib/components/blog/post/Meta.tsx
  src/lib/pages/blog/post/index.tsx
  yarn.lock
Due: eslint --fix --max-warnings=0, prettier -w

chore: update packages - major version (#70)
  package.json
  src/lib/components/blog/post/Head.tsx
  src/lib/components/blog/post/Meta.tsx
  src/lib/pages/blog/post/index.tsx
  yarn.lock
Due: eslint --fix --max-warnings=0, prettier -w

chore: remove emotion cache, use google web font
  next.config.js
  package.json
  src/lib/styles/createEmotionCache.ts
  src/pages/_app.tsx
  src/pages/_document.tsx
  yarn.lock
Due: eslint --fix --max-warnings=0, prettier -w

chore: remove emotion cache, use google web font (#71)
  next.config.js
  package.json
  src/lib/styles/createEmotionCache.ts
  src/pages/_app.tsx
  src/pages/_document.tsx
  yarn.lock
Due: eslint --fix --max-warnings=0, prettier -w

feat(layout): ✨add spotify now playing
  package.json
  src/lib/components/common/SpotifyListening.tsx
  src/lib/components/layout/Footer.tsx
  src/lib/services/spotify/auth/getAccessToken.ts
  src/lib/services/spotify/auth/types.ts
  src/lib/services/spotify/constants.ts
  src/lib/services/spotify/user/now-playing/index.ts
  src/lib/services/spotify/user/now-playing/types.ts
  src/lib/services/spotify/utils.ts
  src/lib/types/SWRHook.ts
  src/lib/utils/fetcher.ts
  src/pages/api/spotify/now-playing.ts
  yarn.lock
Due: eslint --fix --max-warnings=0, prettier -w

feat(layout): ✨add spotify now playing (#72)
  package.json
  src/lib/components/common/SpotifyListening.tsx
  src/lib/components/layout/Footer.tsx
  src/lib/services/spotify/auth/getAccessToken.ts
  src/lib/services/spotify/auth/types.ts
  src/lib/services/spotify/constants.ts
  src/lib/services/spotify/user/now-playing/index.ts
  src/lib/services/spotify/user/now-playing/types.ts
  src/lib/services/spotify/utils.ts
  src/lib/types/SWRHook.ts
  src/lib/utils/fetcher.ts
  src/pages/api/spotify/now-playing.ts
  yarn.lock
Due: eslint --fix --max-warnings=0, prettier -w

refactor(theme): :lipstick: add hover interactivity animations
  src/lib/components/blog/BlogPostPreview.tsx
  src/lib/components/projects/Card.tsx
  src/lib/components/projects/detail/Content.tsx
  src/lib/components/projects/detail/index.tsx
  src/lib/styles/theme/components/button.ts
Due: eslint --fix --max-warnings=0, prettier -w

refactor(theme): :lipstick: add hover interactivity animations (#73)
  src/lib/components/blog/BlogPostPreview.tsx
  src/lib/components/projects/Card.tsx
  src/lib/components/projects/detail/Content.tsx
  src/lib/components/projects/detail/index.tsx
  src/lib/styles/theme/components/button.ts
Due: eslint --fix --max-warnings=0, prettier -w

chore(release): 1.8.0
  CHANGELOG.md
  package.json
Due: none

fix(services): 🐛 add error handling in spotify api route
  commitlint.config.js
  src/pages/api/spotify/now-playing.ts
Due: eslint --fix --max-warnings=0, prettier -w

fix(services): 🐛 add error handling in spotify api route (#74)
  commitlint.config.js
  src/pages/api/spotify/now-playing.ts
Due: eslint --fix --max-warnings=0, prettier -w

docs: update README
  LICENSE
  README.md
  src/README.md
  src/lib/README.md
Due: prettier -w

chore: update other packages
  package.json
  yarn.lock
Due: none

chore: update packages
  package.json
  yarn.lock
Due: none

chore: update git hooks
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

chore: update packages (#78)
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  package.json
  yarn.lock
Due: none

feat: add footer link - status and analytics
  src/lib/components/layout/Footer.tsx
  src/lib/components/layout/Footer/FooterLink.tsx
  src/lib/components/layout/Footer/constants.ts
  src/lib/components/layout/Footer/index.tsx
  src/lib/components/layout/Footer/types.ts
  src/pages/404.ts
  src/pages/about.ts
  src/pages/blog/[id].ts
  src/pages/blog/index.ts
  src/pages/index.ts
  src/pages/projects/[id].ts
  src/pages/projects/index.ts
  src/pages/projects/other.ts
Due: eslint --fix --max-warnings=0, prettier -w

feat: add footer link - status and analytics (#79)
  src/lib/components/layout/Footer.tsx
  src/lib/components/layout/Footer/FooterLink.tsx
  src/lib/components/layout/Footer/constants.ts
  src/lib/components/layout/Footer/index.tsx
  src/lib/components/layout/Footer/types.ts
  src/pages/404.ts
  src/pages/about.ts
  src/pages/blog/[id].ts
  src/pages/blog/index.ts
  src/pages/index.ts
  src/pages/projects/[id].ts
  src/pages/projects/index.ts
  src/pages/projects/other.ts
Due: eslint --fix --max-warnings=0, prettier -w

chore: lock twemoji version
  package.json
  yarn.lock
Due: none

chore: move layout folder
  src/lib/layout/Footer/FooterLink.tsx
  src/lib/layout/Footer/constants.ts
  src/lib/layout/Footer/index.tsx
  src/lib/layout/Footer/types.ts
  src/lib/layout/Header.tsx
  src/lib/layout/Navigation.tsx
  src/lib/layout/TabBar.tsx
  src/lib/layout/ThemeToggle.tsx
  src/lib/layout/index.tsx
  src/lib/layout/meta.tsx
  src/pages/_app.tsx
Due: eslint --fix --max-warnings=0, prettier -w

refactor(utils): revise arguments into single object for trackEventToUmami
  commitlint.config.js
  src/lib/components/blog/BlogPostPreview.tsx
  src/lib/components/projects/Card.tsx
  src/lib/components/projects/detail/index.tsx
  src/lib/layout/Footer/index.tsx
  src/lib/layout/Navigation.tsx
  src/lib/pages/about/Content.tsx
  src/lib/pages/about/Links/MotionLink.tsx
  src/lib/pages/home/PostsSection.tsx
  src/lib/pages/home/ProjectsSection.tsx
  src/lib/pages/projects/list/BottomNav.tsx
  src/lib/pages/projects/list/other/index.tsx
  src/lib/utils/trackEvent.ts
Due: eslint --fix --max-warnings=0, prettier -w

refactor(utils): revise arguments into single object for trackEventToUmami (#83)
  commitlint.config.js
  src/lib/components/blog/BlogPostPreview.tsx
  src/lib/components/projects/Card.tsx
  src/lib/components/projects/detail/index.tsx
  src/lib/layout/Footer/index.tsx
  src/lib/layout/Navigation.tsx
  src/lib/pages/about/Content.tsx
  src/lib/pages/about/Links/MotionLink.tsx
  src/lib/pages/home/PostsSection.tsx
  src/lib/pages/home/ProjectsSection.tsx
  src/lib/pages/projects/list/BottomNav.tsx
  src/lib/pages/projects/list/other/index.tsx
  src/lib/utils/trackEvent.ts
Due: eslint --fix --max-warnings=0, prettier -w

chore: setup commitizen
  .czrc
  .husky/prepare-commit-msg
  package.json
  yarn.lock
Due: none

docs: add commitizen badge
  README.md
Due: none

chore: setup commitizen (#84)
  .czrc
  .husky/prepare-commit-msg
  README.md
  package.json
  yarn.lock
Due: none

chore: update packages to latest
  package.json
  src/lib/pages/blog/post/index.tsx
  yarn.lock
Due: eslint --fix --max-warnings=0, prettier -w

chore(release): 1.9.0
  CHANGELOG.md
  package.json
Due: none

chore(projects): add tungpajak
  content/projects/tungpajak.md
Due: none

feat(monitoring): setup axiom ingest
  commitlint.config.js
  src/pages/_app.tsx
Due: eslint --fix --max-warnings=0, prettier -w

feat: ✨ add url shortener path
  package.json
  src/lib/services/notion/client.ts
  src/lib/services/notion/common/database/index.ts
  src/lib/services/notion/common/database/types.ts
  src/lib/services/notion/common/page/index.ts
  src/lib/services/notion/constants.ts
  src/lib/services/notion/link-shortener/get/url/index.ts
  src/pages/s/_middleware.ts
  yarn.lock
Due: eslint --fix --max-warnings=0, prettier -w

feat: add url click handler
  src/lib/services/notion/link-shortener/addUrlClick.ts
  src/lib/services/notion/link-shortener/getUrl.ts
  src/lib/services/notion/link-shortener/types.ts
  src/pages/s/_middleware.ts
Due: eslint --fix --max-warnings=0, prettier -w

fix: add url click revise implementation
  src/pages/api/notion/shortener/add-click.ts
  src/pages/s/_middleware.ts
Due: eslint --fix --max-warnings=0, prettier -w

refactor: revise add click api route implementation
  src/pages/api/notion/shortener/add-click.ts
Due: eslint --fix --max-warnings=0, prettier -w

feat: ✨ add url shortener path (#87)
  package.json
  src/lib/services/notion/client.ts
  src/lib/services/notion/common/database/index.ts
  src/lib/services/notion/common/database/types.ts
  src/lib/services/notion/common/page/index.ts
  src/lib/services/notion/constants.ts
  src/lib/services/notion/link-shortener/addUrlClick.ts
  src/lib/services/notion/link-shortener/getUrl.ts
  src/lib/services/notion/link-shortener/types.ts
  src/pages/api/notion/shortener/add-click.ts
  src/pages/s/_middleware.ts
  yarn.lock
Due: eslint --fix --max-warnings=0, prettier -w

chore: 📦 update chakra-ui to v2 and react to v18
  package.json
  src/lib/components/blog/renderers.tsx
  src/lib/pages/projects/list/BottomNav.tsx
  yarn.lock
Due: eslint --fix --max-warnings=0, prettier -w

refactor: chakra provider
  src/lib/components/Chakra.tsx
  src/pages/_app.tsx
  src/pages/kapturaluminaprivacyterms.tsx
  src/pages/ragambudayaprivacyterms.tsx
Due: eslint --fix --max-warnings=0, prettier -w
