Repository sozonome/sznm.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier -w

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix --max-warnings=0",
    "prettier -w"
  ],
  "src/**/*.{json,css,scss,md}": [
    "prettier -w"
  ]
}

Update bump-version.yml
  .github/workflows/bump-version.yml
Due: none

refactor: resolve code smell
  next.config.js
  src/lib/components/blog/BlogPostCard.tsx
  src/lib/components/blog/BlogPostPreview.tsx
  src/lib/components/blog/renderers.tsx
  src/lib/components/commands/index.tsx
  src/lib/components/projects/Card.tsx
  src/lib/components/projects/detail/index.tsx
  src/lib/components/shared/ShareButtons/index.tsx
  src/lib/components/snippets/SnippetCard.tsx
  src/lib/layout/Header.tsx
  src/lib/layout/Navigation.tsx
  src/lib/layout/ThemeToggle.tsx
  src/lib/pages/about/Content.tsx
  src/lib/pages/about/Links/MotionLink.tsx
  src/lib/pages/home/PostsSection.tsx
  src/lib/pages/home/ProjectsSection.tsx
  src/lib/pages/projects/list/BottomNav.tsx
Due: eslint --fix --max-warnings=0, prettier -w

fix: adjust func call
  src/lib/components/blog/renderers.tsx
Due: eslint --fix --max-warnings=0, prettier -w

refactor: resolve code smell (#152)
  next.config.js
  src/lib/components/blog/BlogPostCard.tsx
  src/lib/components/blog/BlogPostPreview.tsx
  src/lib/components/blog/renderers.tsx
  src/lib/components/commands/index.tsx
  src/lib/components/projects/Card.tsx
  src/lib/components/projects/detail/index.tsx
  src/lib/components/shared/ShareButtons/index.tsx
  src/lib/components/snippets/SnippetCard.tsx
  src/lib/layout/Header.tsx
  src/lib/layout/Navigation.tsx
  src/lib/layout/ThemeToggle.tsx
  src/lib/pages/about/Content.tsx
  src/lib/pages/about/Links/MotionLink.tsx
  src/lib/pages/home/PostsSection.tsx
  src/lib/pages/home/ProjectsSection.tsx
  src/lib/pages/projects/list/BottomNav.tsx
Due: eslint --fix --max-warnings=0, prettier -w

refactor: convert to useCallback
  src/lib/pages/projects/list/other/index.tsx
Due: eslint --fix --max-warnings=0, prettier -w

refactor: convert to useCallback (#153)
  src/lib/pages/projects/list/other/index.tsx
Due: eslint --fix --max-warnings=0, prettier -w

chore(release): 1.18.3
  CHANGELOG.md
  package.json
Due: none

chore: update SWR to v2
  content/snippets/data-fetching.md
  package.json
  yarn.lock
Due: none

chore: update SWR to v2 (#154)
  content/snippets/data-fetching.md
  package.json
  yarn.lock
Due: none

chore: update to next 13.1
  package.json
  yarn.lock
Due: none

chore: update to next 13.1 (#156)
  package.json
  yarn.lock
Due: none

chore: transpile lodash-es
  next.config.js
Due: none

chore: transpile lodash-es (#157)
  next.config.js
Due: none

chore: remove experimental prefix for edge runtime
  src/pages/api/now-playing.ts
  src/pages/api/projects.ts
Due: eslint --fix --max-warnings=0, prettier -w

chore: remove experimental prefix for edge runtime (#158)
  src/pages/api/now-playing.ts
  src/pages/api/projects.ts
Due: eslint --fix --max-warnings=0, prettier -w

refactor: remove low contrast color
  src/lib/components/blog/BlogPostCard.tsx
  src/lib/components/commands/components/CommandEmpty.tsx
  src/lib/components/commands/components/CommandGroup.tsx
  src/lib/components/projects/detail/Content.tsx
  src/lib/components/snippets/SnippetCard.tsx
  src/lib/pages/blog/list/index.tsx
  src/lib/pages/home/HeroSection.tsx
  src/lib/pages/snippets/list/index.tsx
Due: eslint --fix --max-warnings=0, prettier -w

refactor: remove low contrast color (#159)
  src/lib/components/blog/BlogPostCard.tsx
  src/lib/components/commands/components/CommandEmpty.tsx
  src/lib/components/commands/components/CommandGroup.tsx
  src/lib/components/projects/detail/Content.tsx
  src/lib/components/snippets/SnippetCard.tsx
  src/lib/pages/blog/list/index.tsx
  src/lib/pages/home/HeroSection.tsx
  src/lib/pages/snippets/list/index.tsx
Due: eslint --fix --max-warnings=0, prettier -w

refactor: a11y - add aria label
  src/lib/components/blog/BlogPostCard.tsx
  src/lib/components/blog/BlogPostPreview.tsx
  src/lib/components/common/SpotifyListening.tsx
  src/lib/components/projects/Card.tsx
  src/lib/components/snippets/SnippetCard.tsx
Due: eslint --fix --max-warnings=0, prettier -w

refactor: increase button tap area
  src/lib/pages/home/PostsSection.tsx
  src/lib/pages/home/ProjectsSection.tsx
  src/lib/pages/projects/list/BottomNav.tsx
  src/lib/styles/theme/components/button.ts
Due: eslint --fix --max-warnings=0, prettier -w

chore: update CSP script-src
  next.config.js
Due: none

chore: update CSP frame-src
  next.config.js
Due: none

refactor: a11y - add aria label & increase tap area (#160)
  next.config.js
  src/lib/components/blog/BlogPostCard.tsx
  src/lib/components/blog/BlogPostPreview.tsx
  src/lib/components/common/SpotifyListening.tsx
  src/lib/components/projects/Card.tsx
  src/lib/components/snippets/SnippetCard.tsx
  src/lib/pages/home/PostsSection.tsx
  src/lib/pages/home/ProjectsSection.tsx
  src/lib/pages/projects/list/BottomNav.tsx
  src/lib/styles/theme/components/button.ts
Due: eslint --fix --max-warnings=0, prettier -w

refactor: increase color contrast
  src/lib/components/blog/post/Head.tsx
  src/lib/components/snippets/detail/Head.tsx
  src/lib/layout/Footer/index.tsx
  src/lib/pages/about/Links/index.tsx
Due: eslint --fix --max-warnings=0, prettier -w

chore: turn off dynamic import
  src/lib/layout/index.tsx
  src/lib/pages/blog/list/index.tsx
Due: eslint --fix --max-warnings=0, prettier -w

refactor: adjust useCommandCenter hook
  src/lib/components/commands/hook.ts
Due: eslint --fix --max-warnings=0, prettier -w

refactor: adjust useCommandCenter hook (#161)
  src/lib/components/commands/hook.ts
Due: eslint --fix --max-warnings=0, prettier -w

chore(release): 1.18.4
  CHANGELOG.md
  package.json
Due: none

refactor: adjust title size and implement react-wrap-balancer
  package.json
  src/lib/components/blog/BlogPostCard.tsx
  src/lib/components/blog/HeadingLink.tsx
  src/lib/components/blog/post/Head.tsx
  src/lib/components/projects/detail/Content.tsx
  src/lib/components/snippets/detail/Head.tsx
  yarn.lock
Due: eslint --fix --max-warnings=0, prettier -w

refactor: adjust title size and implement react-wrap-balancer (#162)
  package.json
  src/lib/components/blog/BlogPostCard.tsx
  src/lib/components/blog/HeadingLink.tsx
  src/lib/components/blog/post/Head.tsx
  src/lib/components/projects/detail/Content.tsx
  src/lib/components/snippets/detail/Head.tsx
  yarn.lock
Due: eslint --fix --max-warnings=0, prettier -w

fix(components): revise twitter share link
  src/lib/components/shared/ShareButtons/constants.tsx
Due: eslint --fix --max-warnings=0, prettier -w

fix(components): revise twitter share link (#163)
  src/lib/components/shared/ShareButtons/constants.tsx
Due: eslint --fix --max-warnings=0, prettier -w

chore: re-enable dynamic imports
  src/lib/layout/TabBar.tsx
  src/lib/layout/index.tsx
Due: eslint --fix --max-warnings=0, prettier -w

chore: re-enable dynamic imports (#164)
  src/lib/layout/TabBar.tsx
  src/lib/layout/index.tsx
Due: eslint --fix --max-warnings=0, prettier -w

feat: remove twemoji
  package.json
  src/lib/components/Twemoji.tsx
  src/lib/components/blog/BlogPostCard.tsx
  src/lib/components/blog/BlogPostPreview.tsx
  src/lib/components/blog/post/Head.tsx
  yarn.lock
Due: eslint --fix --max-warnings=0, prettier -w

feat: remove twemoji (#165)
  package.json
  src/lib/components/Twemoji.tsx
  src/lib/components/blog/BlogPostCard.tsx
  src/lib/components/blog/BlogPostPreview.tsx
  src/lib/components/blog/post/Head.tsx
  yarn.lock
Due: eslint --fix --max-warnings=0, prettier -w

chore: setup tailwindcss
  package.json
  postcss.config.js
  src/lib/styles/global.css
  tailwind.config.js
  yarn.lock
Due: prettier -w

chore: setup tailwindcss (#166)
  package.json
  postcss.config.js
  src/lib/styles/global.css
  tailwind.config.js
  yarn.lock
Due: prettier -w

refactor: convert enum to array
  src/lib/components/commands/constants.ts
  src/lib/components/commands/hook.ts
  src/lib/components/commands/types.ts
Due: eslint --fix --max-warnings=0, prettier -w

chore: update config
  tailwind.config.js
Due: none

chore: setup next-theme
  package.json
  src/lib/components/AppWrapper.tsx
  yarn.lock
Due: eslint --fix --max-warnings=0, prettier -w
